
<%- include("partials/header")-%>

    <div id="carouselExampleCaptions" class="carousel  slide carousel-fade" data-ride="carousel" data-interval:"1000">

      <div class="carousel-inner">

        <div class="carousel-item active one">
          <img src="images/carousel/car4.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
              <h2>Match. Meow. Eat.</h2>
<div class="container">
  <div class="row rowbuttons">
    <div class="col-6 btnsizing1">

      <!-- <form class="" action="/signup" method="post"> -->
      <button type=" button" class ="btn btn-lg btn-light bx"name="button"  onclick="window.location.href ='/signup';">Sign Up</button>
      <!-- </form> -->
    </div>
    <div class="col-6 btnsizing2">
      <!-- <form class="" action="/login" method="post"> -->
      <button type="submit" class ="btn btn-lg btn-light bx"name="button" onclick="window.location.href ='login'">Log In</button>
      <!-- </form> -->

    </div>

  </div>

</div>




          </div>
        </div>
        <div class="carousel-item two">
          <img src="images/carousel/car1.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
              <h2>Match. Meow. Eat.</h2>
              <div class="container">
                <div class="row rowbuttons">
                  <div class="col-6 btnsizing1">

                    <!-- <form class="" action="/signup" method="post"> -->
                    <button type=" button" class ="btn btn-lg btn-light bx"name="button"  onclick="window.location.href ='/signup';">Sign Up</button>
                    <!-- </form> -->
                  </div>
                  <div class="col-6 btnsizing2">
                    <!-- <form class="" action="/login" method="post"> -->
                    <button type="submit" class ="btn btn-lg btn-light bx"name="button" onclick="window.location.href ='login'">Log In</button>
                    <!-- </form> -->


                  </div>

                </div>

              </div>

          </div>
        </div>
        <div class="carousel-item three">
          <img src="images/carousel/car3.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
              <h2>Match. Meow. Eat.</h2>
              <div class="container">
                <div class="row rowbuttons">
                  <div class="col-6 btnsizing1">

                    <!-- <form class="" action="/signup" method="post"> -->
                    <button type=" button" class ="btn btn-lg btn-light bx"name="button"  onclick="window.location.href ='/signup';">Sign Up</button>
                    <!-- </form> -->
                  </div>
                  <div class="col-6 btnsizing2">
                    <!-- <form class="" action="/login" method="post"> -->
                    <button type="submit" class ="btn btn-lg btn-light bx"name="button" onclick="window.location.href ='login'">Log In</button>
                    <!-- </form> -->

                  </div>

                </div>

              </div>



          </div>
        </div>
      </div>

    </div>


<%- include("partials/footer")-%>
