<%- include("partials/header")-%>
<!--
<div class="container">
  <div class="row">
    <div class="backgrounddiv"> -->
    <div class="wrapper">


    <div class="formdiv2">
<!--

    <div class="">
      <img src="/images/carousel/car2.jpg" class ="cat"alt="">
    </div>

    <!-- </div> --> -->
    <div class=" formdiv">
      <label for="Username">Username</label>
      <input type="text" class="loginInput" name="Username" value="">
      <label for="Password" >Password</label>
      <input type="password" name="Password" class="loginInput"  value="">
<button type="submit" class="btn btn-lg btn-dark loginbtn" name="button">Login</button>
    </div>
</div>
  </div>



<%- include("partials/footer")-%>
