<%- include("partials/header")-%>





<div class="wrapper">


<div class="formdiv2">
<!--

<div class="">
  <img src="/images/carousel/car2.jpg" class ="cat"alt="">
</div>

<!-- </div> --> -->
<div class=" formdiv">
<form class="" action="/signup" method="post">


    <label for="Username">Username</label>
    <input type="text" name="Username" value="">
    <label for="Password">Password</label>
    <input type="password" name="Password" value="">
    <label for="Password">Age</label>
    <input type="number" name="Age" value="">
    <label for="male">Male</label>
    <input type="radio" name="Gender" id="Male" value="Male">
    <label for="female">Female</label>
    <input type="radio" name="Gender" id="Female" value="Female">
<button type="submit" name="button" class="registerbtn btn btn-lg btn-dark">Register</button>
</form>
</div>
</div>
</div>



<%- include("partials/footer")-%>
